body {
  font: 14px "Crimson Text", serif;
}

#container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 25px 0;
  font: 20px "Crimson Text", serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#quiz input {
  vertical-align: sub;
}

#quiz ol {
  margin: 0 0 10px 20px;
}

#quiz ol li {
  margin: 0 0 20px 0;
}

#quiz ol li div {
  padding: 3px 0;
}

#quiz h3 {
  font-size: 18px;
  margin: 0 0 1px 0;
  color: #414a4c;
}

.error {
  color: #FF0000;
}

#results {
  font: 44px "Crimson Text", serif;
}

#info {
  margin-top: 35px;
  font: 30px "Crimson Text", serif;
}

#correct-answers {
  margin-top: 20px;
  font: 20px "Crimson Text", serif;
}