.nav-container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .75rem 1rem;
}

.logo{
    color: #555;
}

.btn-sign:hover {
    cursor: pointer;
    background-color: #C2004BDD;
    opacity: 0.7;
}

.btn-sign {
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: .375rem .75rem;
    background-color: #C2004B;
    color: #fffffe;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: 1px solid #C2004B;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}