body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fffffe;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-center {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    flex-wrap: wrap;
    margin: 3rem -15px 1rem -15px;
}

.cols {
    position: relative;
    width: 100%;
    max-width: 60%;
    min-height: 1px;
    padding: 20px 15px;
}

.text-sign-book {
    color: #555;
    margin-bottom: 3rem !important;
    margin-top: 0;
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    font-size: 1.75rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group {
    margin-bottom: 1rem;
    padding: 10px 0;
}

.form-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: .25rem;
    font-size: 1rem;
    color: #555;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-file {
    display: block;
    width: 100%;
}

.file-upload {
    display: flex;
    flex-direction: row;
}

.file-upload-text {
    width: 40%;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    margin-top: 0px;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: #C2004BDD;
    opacity: 0.7;
}

.btn-submit {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    padding: .375rem .75rem;
    float: right;
    color: #fffffe;
    background-color: #C2004B;
    border: 1px solid #C2004B;
    border-radius: .25rem;
    white-space: nowrap;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}