*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    color: #343434;
    text-align: left;
}

.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 120px auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #343434;
    text-align: left;
}

.card-container {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.user-row {
    display: flex;
    flex-wrap: nowrap !important;
    margin-right: -15px;
    margin-left: -15px;
}

.user-img-container {
    margin-bottom: 1rem;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.img-container {
    margin: 0 auto;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    width: 140px;
    height: 140px;
    max-width: 140px;
    max-height: 140px;
    min-width: 140px;
    min-height: 140px;
    overflow: hidden;
}

.img-change-wrap {
    position: relative;
}

.btn-file-upload {
    font-size: 12px;
    position: absolute;
    top: 0 !important;
    left: 0px;
}

.input-file {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    width: 100px;
    font-size: 24px;
    opacity: 0;
    cursor: pointer;
}

.user-info-wrap {
    margin: 0 20px 1px 20px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 0;
}

.username {
    white-space: nowrap;
    padding-top: .5rem;
    padding-bottom: .25rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    text-align: left !important;
}

.course-info {
    padding: 0
}

.course-item {
    list-style: none;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

.pw {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

.message {
    color: red;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #343434;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    overflow: visible;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.user-input-container {
    margin: 50px auto;
}

.forms {
    margin-top: 100px;
}

.form-data, .form-pw {
    width: 720px;
    margin: 0 auto 120px auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 120px;
    margin-left: auto;
}

.user-pw-container {
    margin: 0 auto;
}

.user-input-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.user-input-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.password {
    margin-bottom: 1rem;
}

.btn-save, .btn-file-upload {
    color: #fff;
    background-color: #1680EB;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: inherit;
    border-radius: .25rem;
}

.btn-file-upload {
    font-size: 12px;
    position: absolute;
    top: 15px;
    left: 0px;
}

.btn-save {
    margin: 0 20px 20px 20px;
    font-size: 1rem;
    float: right;
}

.btn-save:hover, .btn-file-upload:hover, .input-file:hover~.btn-file-upload {
    background-color: #0590f4;
}

.navlist {
    word-wrap: break-word;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
}

.nav-item {
    list-style: none;
    word-wrap: break-word;
}